/* General Styles */
.projects {
    padding: 4rem 2rem 5rem;
    background-color: var(--clr-bg);
    color: var(--clr-fg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects h2 {
    font-weight: bold;
    font-size: 3rem;
    color: var(--clr-primary);
    text-align: center;
    margin-bottom: 1rem;
}

/* Projects Container */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

/* Project Card */
.project-card {
    width: 300px;
    height: 280px;
    background-color: var(--clr-bg-2);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.projects-container .project-card .project-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Project Details */
.project-details {
    padding: 1.5rem;
}

.project-details h3 {
    font-size: 1.5rem;
}

.project-card:hover .project-details h3 {
    color: var(--clr-primary);
}

/* Project Buttons */
.project-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.project-buttons .live-demo-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    gap: 5px;
    letter-spacing: 0.15rem;
    width: 180px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-primary);
    border: 3px solid var(--clr-primary);
    border-radius: 50px;
    background: transparent;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    z-index: 1;
}

.project-buttons .live-demo-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-primary);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.4s ease;
    z-index: 0;
}

.project-buttons .live-demo-btn:hover::before {
    transform: scaleX(1);
}

.project-buttons span {
    position: relative;
    z-index: 1;
}

.project-buttons .live-demo-btn:hover {
    color: var(--clr-bg) !important;
}

.project-buttons .live-demo-btn .live-demo-icon {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.project-buttons .live-demo-btn:hover .live-demo-icon {
    transform: scale(1.2);
}

.project-buttons .github-btn {
    font-size: 2.5rem;
    color: var(--clr-accent);
    transition: color 0.3s ease, transform 0.3s ease;
}

.github-btn:hover {
    color: var(--clr-primary);
    transform: scale(1.1);
}


/* Nueva sección de detalles del proyecto */
.project-details-section {
    display: none;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem 2rem 5rem;
    width: 100%;
}

.project-details-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
}

.project-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: left;
    align-items: flex-start;
    max-width: 50%;
    word-wrap: break-word;
}

.project-info .project-buttons {
    gap: 2rem;
}

.project-info h2 {
    font-size: 2.5rem;
    color: var(--clr-accent);
    margin: 0;
}

.project-info p {
    font-size: 1.2rem;
    color: var(--clr-fg);
    line-height: 1.6;
    margin-bottom: 1rem;
}

.project-mockup {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-mockup img {
    padding: 1rem;
    min-width: 600px;
    width: 800px; /* Tamaño fijo en pantallas grandes */
    max-width: 100%; /* Asegura que no desborde el contenedor */
    height: auto;
    border-radius: 10px;
    background: transparent;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.8));
}

/* Estilos para una transición suave */
.project-details-section {
    animation: fadeIn 0.8s ease;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1200px) {
    .project-details-content {
        flex-direction: column;
        align-items: center;
    }

    .project-info {
        max-width: 100%;
    }
    .project-mockup img {
        min-width: 370px;
    }
}

/* Media Queries */
@media (max-width: 848px) {
    .projects {
        padding: 3rem 2rem 3rem;

    }

    .projects h2 {
        font-size: 2.5rem;
    }

    .project-details-section {
        padding: 0;
    }

    .project-details-content {
        flex-direction: column;
        align-items: center;
    }

    .project-info {
        flex: unset;
        width: 100%;
        text-align: center;
    }

    .project-info h2 {
        font-size: 2rem;
        text-align: center;
        margin: 0 auto;
    }

    .project-info p {
        font-size: 1rem;
    }

    .project-buttons {
        justify-content: center;
        gap: 1rem;
        margin: 0 auto;
    }

    .project-buttons .live-demo-btn {
        width: 150px;
        font-size: 0.9rem;
        padding: 8px 16px;

    }

    .project-mockup img {
        max-width: 90%;
        width: auto;
        height: auto;
        padding: 0;
    }

    .project-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}