/* General Styles */
.projects {
    padding: 4rem 2rem 5rem;
    background-color: var(--clr-bg);
    color: var(--clr-fg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects h2 {
    font-weight: bold;
    font-size: 3rem;
    color: var(--clr-primary);
    text-align: center;
    margin-bottom: 1rem;
}

/* Projects Container */
.projects-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 2rem;
    overflow-x: auto;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
}

/* Project Card */
.project-card {
    position: relative;
    width: 150px;
    height: 300px;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 12px;
}

.project-card:hover {
    width: 400px;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
    background-color: var(--clr-bg-2);

}

.project-card .project-title {
    position: absolute;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--clr-fg);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.project-card:hover .project-title {
    display: none;
    transform: rotate(0);

}

.project-card .project-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-bg-2);
    opacity: 0;
    transition: all 0.3s ease;
}

.project-card:hover .project-hover {
    opacity: 1;
}

.project-card .project-hover img {
    width: 80%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.project-hover img {
    background: transparent;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.8));
}

.project-card .project-hover h3 {
    font-size: 1.5rem;
    color: var(--clr-primary);
}

.project-card:not(:last-child) {
    position: relative;
}

.project-card:not(:last-child)::after {
    border-right: 3px solid var(--clr-primary);
    content: '';
    position: absolute;
    top: 5%;
    right: 0;
    height: 90%;
    background-color: var(--clr-primary);
}

/* Project Details */
.project-details {
    padding: 1.5rem;
}

.project-details h3 {
    font-size: 1.5rem;
}

.project-card:hover .project-details h3 {
    color: var(--clr-primary);
}

/* Project Buttons */
.project-buttons {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-top: 1rem;
}

.project-buttons .live-demo-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    gap: 5px;
    letter-spacing: 0.15rem;
    width: 180px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-primary);
    border: 3px solid var(--clr-primary);
    border-radius: 50px;
    background: transparent;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    z-index: 1;
}

.project-buttons .live-demo-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-primary);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.4s ease;
    z-index: 0;
}

.project-buttons .live-demo-btn:hover::before {
    transform: scaleX(1);
}

.project-buttons span {
    position: relative;
    z-index: 1;
}

.project-buttons .live-demo-btn:hover {
    color: var(--clr-bg) !important;
}

.project-buttons .github-btn {
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    font-size: 1.5rem;
    color: var(--clr-bg);
    border: 3px solid var(--clr-primary);
    border-radius: 50px;
    background: var(--clr-primary);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.project-buttons .github-btn:hover {
    transform: scale(1.1);
}

/* Technologies Section */
.project-technologies h3 {
    font-size: 1.5rem;
    color: var(--clr-primary);
    margin-bottom: 0.5rem;
}

.project-technologies ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-technologies li {
    background-color: var(--clr-bg-2);
    color: var(--clr-fg);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.project-technologies li:hover {
    background-color: var(--clr-primary);
    color: var(--clr-bg);
}

/* Project Details Section */
.project-details-section {
    display: none;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem 2rem 5rem;
    width: 100%;
}

.project-details-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
}

.project-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: left;
    align-items: flex-start;
    word-wrap: break-word;
}

.project-info h2 {
    font-size: 2.5rem;
    color: var(--clr-accent);
    margin: 0;
}

.project-info p {
    font-size: 1.2rem;
    color: var(--clr-fg);
    line-height: 1.6;
    margin-bottom: 0.8rem;
}

.project-mockup {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-mockup img {
    padding: 1rem;
    width: 800px;
    min-width: 600px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    background: transparent;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.8));
}

.project-details-section {
    animation: fadeIn 0.8s ease;
}




.button-wrapper {
    position: relative;
    display: inline-block;
}

.extra-buttons {
    position: absolute;
    top: 90%;
    left: 8%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    animation: extraBtn 0.5s ease;

}

.extra-btn {
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    font-size: 1.5rem;
    color: var(--clr-bg);
    border: 3px solid var(--clr-primary);
    border-radius: 50px;
    background: var(--clr-primary);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.extra-btn:hover {
    transform: scale(1.1);
}

@keyframes extraBtn {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .project-details-content {
        flex-direction: column;
        align-items: center;
    }

    .project-info {
        max-width: 100%;
        padding-bottom: 2rem;
    }

    .project-mockup img {
        min-width: 350px;
    }
}

@media (max-width: 848px) {
    .projects {
        padding: 3rem 2rem 3rem;
    }

    .projects h2 {
        font-size: 2.5rem;
    }

    .project-details-section {
        padding: 0;
    }

    .project-details-content {
        flex-direction: column;
        align-items: center;
    }

    .project-info {
        flex: unset;
        width: 100%;
        text-align: center;
        order: 1;
    }

    .project-info h2 {
        font-size: 2rem;
        text-align: center;
        margin: 0 auto;
    }

    .project-info p {
        font-size: 1rem;
    }

    .project-buttons {
        justify-content: center;
        gap: 1rem;
        margin: 0 auto;
    }

    .project-buttons .live-demo-btn {
        width: 150px;
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .project-mockup img {
        max-width: 90%;
        width: auto;
        height: auto;
        padding: 0;
        order: 2;
    }

    .project-card {
        width: 100px;
    }

    .projects-container {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    /*
    .project-card {
        width: 60px;
        height: 250px;
    }

    .project-card .project-title {
        font-size: 1.3rem;
    }

    .project-card:hover {
        width: 200px;
    }*/

    .projects-container {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
        overflow-x: unset;
    }

    .project-card {
        width: 90%;
        height: auto;
        max-width: 400px;
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.4);
        background-color: var(--clr-bg-2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .project-card .project-title {
        display: none;
    }

    .project-hover {
        padding: 1.5rem 2rem;

    }

    .project-card .project-hover {
        opacity: 1;
        position: relative;
    }

    .project-card .project-hover img {
        width: 80%;
        max-height: 200px;
        margin-bottom: 1rem;
    }

    .project-card .project-hover h3 {
        font-size: 1.2rem;
        text-align: center;
    }

    .project-card:hover {
        width: 90%;
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.4);

    }

    .project-card:not(:last-child)::after {
        display: none;
    }


}